:root {
    --btt-secondary:#4a90e2;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    
    background-color:#f4f4f9 ;
}
.container {
    background-color:white;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    padding: 20px;
}
h1 {
    text-align: center;
}
#todoInput {
    width: 75%;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}
#addTodo {
    padding: 10px 20px;
    background-color: #5cabff;
    border:none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}
li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
li:hover {
    background-color: aliceblue;
}
li:last-child {
    border-bottom: none;
}
.filterBtn,.editBtn, .deleteBtn, .completedBtn {
   margin: 5px;
    padding: 10px 15px;
    background-color: #f8e068;
    border: none;
    border-radius: 5px;
    cursor: pointer;

transition: background-color 0.3s;
}

.editBtn {
    background-color: rgb(214, 235, 106);

}
.deleteBtn{
    background-color: #ba2b42;

}

.completedBtn {
    background-color: #1eab4f;
}
    
.filterBtn:hover{
    background-color: #4a90e2;
   } 
.todoItem {
    letter-spacing:1px;
   }
   .todoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   }
